<header class="landingGreenEat__header">
    <img class="landingGreenEat__logo" src="assets/logo-02.svg" alt="logo">
</header>
<main class="landingGreenEat__body">
    <div class="landingGreenEat__bannerMain">
        <div class="landingGreenEat__mask">
            <img class="landingGreenEat__imgTextMain" src="assets/textMain.svg" alt="">
            <a class="landingGreenEat__btnPlus" href="/otro">¡Me sumo!</a>
        </div>
    </div>
    <p class="landingGreenEat__textParrafo">Queremos que el primer día que puedas volver a nuestros locales, sea
        diferente. Brazos abiertos, comida rica de invierno, y beneficios posta.</p>
    <section class="landingGreenEat__sectionClub">
        <h1 class="landingGreenEat__titleClub">¿Cómo funciona Green eat club?</h1>
        <div class="landingGreenEat__cardRow">
            <div class="landingGreenEat__card">
                <img class="landingGreenEat__cardImage" src="assets/box.svg" alt="">
                <p class="landingGreenEat__cardText">sumate y pagá online por única vez el plan de 3 meses para vos o
                    para regalar ;)</p>
            </div>
            <div class="landingGreenEat__card">
                <img class="landingGreenEat__cardImage" src="assets/letter.svg" alt="">
                <p class="landingGreenEat__cardText">Revisá tu mail, te va a llegar tu voucher digital.</p>
            </div>
        </div>
        <div class="landingGreenEat__cardRow">
            <div class="landingGreenEat__card">
                <img class="landingGreenEat__cardImage" src="assets/house.svg" alt="">
                <p class="landingGreenEat__cardText">El beneficio estará disponible desde el primer día que reabramos
                    nuestros locales.</p>
            </div>
            <div class="landingGreenEat__card">
                <img class="landingGreenEat__cardImage" src="assets/ticket.svg" alt="">
                <p class="landingGreenEat__cardText">¡Ya sos parte del club! Mostrá tu voucher en la caja y disfrutá tu
                    beneficio todos los días.</p>
            </div>
        </div>
    </section>
    <section class="landingGreenEat__sectionPromotion">
        <div class="landingGreenEat__imagePromotion"></div>
        <div class="landingGreenEat__contentPromotion">
            <div class="landingGreenEat__headerPromotion">
                <h2 class="landingGreenEat__titlePromotion">Green Ambassador</h2>
                <p class="landingGreenEat__pricePromotion">$800</p>
            </div>
            <div class="landingGreenEat__rowPromotion">
                <img class="landingGreenEat__iconPromotion" src="assets/glass.svg" alt="">
                <p class="landingGreenEat__textPromotion">• Café o té <b>sin cargo ilimitado</b> durante 3 meses (sí, todos los
                    que quieras por día).</p>
            </div>
            <div class="landingGreenEat__rowPromotion">
                <img class="landingGreenEat__iconPromotion" src="assets/hamburger.svg" alt="">
                <p class="landingGreenEat__textPromotion">• <b>+ 15% OFF</b> en ¡todos tus consumos en
                    nuestros locales durante 3 meses!
                    Incluye Take away.
                </p>
            </div>
            <div class="landingGreenEat__rowPromotion">
                <img class="landingGreenEat__iconPromotion" src="assets/carrot.svg" alt="">
                <p class="landingGreenEat__textPromotion">• <b>+ 10%</b> OFF en tu próxima compra en
                    Green Eat Market por Pedidos Ya.
                </p>
            </div>
            <a class="landingGreenEat__btnPromotion" href="/unir">Unimer al club</a>
        </div>
    </section>
    <section class="landingGreenEat__sectionThank">
        <p class="landingGreenEat__textEnd1">Nos estamos redefiniendo y trabajando muchísimo para llegar todos juntos al
            otro lado, más fuertes que nunca.</p>
        <p class="landingGreenEat__textEnd2">Gracias de
            <img class="landingGreenEat__imagelove" src="assets/loveWhite.svg" alt="">
             por acompañarnos</p>
    </section>
</main>
<footer class="landingGreenEat__footer">
    <div class="landingGreenEat__footer-mb">
        <p class="landingGreenEat__stalktext">Stalkeanos:</p>
        <img class="landingGreenEat__iconRedSocial" src="assets/redsocial.svg" alt="">
        <div class="landingGreenEat__footerLine"></div>
        <div class="landingGreenEat__footerContent">
            <div class="landingGreenEat__footerContact">
                <p class="landingGreenEat__footerMail">Escribinos a <br>hola@greeneat.com.ar</p>
                <p class="landingGreenEat__footerCopy">Green Eat 2020 ©</p>
            </div>
            <img class="landingGreenEat__footerCarrot" src="assets/cut_carrot.svg" alt="">
        </div>
    </div>
    <div class="landingGreenEat__footer-dk">
        <div class="landingGreenEat__footerGroup">
            <p class="landingGreenEat__footerfeedback">Nos importa saber qué opinás para ajustar lo que no sale tan bien
                o mandarle choque los cinco al equipo. </p>
            <p class="landingGreenEat__footerMail">Escribinos a</p>
            <a class="landingGreenEat__footerlinkMail" href="mailto:hola@greeneat.com.ar">hola@greeneat.com.ar</a>
        </div>
        <div class="landingGreenEat__footerGroup">
            <p class="landingGreenEat__stalktext">Stalkeanos:</p>
            <img class="landingGreenEat__iconRedSocial" src="assets/redsocial.svg" alt="">
            <p class="landingGreenEat__footerCopy">Green Eat 2020 ©</p>
        </div>
        <img class="landingGreenEat__footerCarrot" src="assets/cut_carrot.svg" alt="">
    </div>
</footer>