<main class="thank__container">
    <img class="thank__image thank__marginBottom" src="assets/portalThank.svg">
    <div class="thank__line thank__marginBottom"></div>
    <p class="thank__textDetails thank__marginBottom">En las próximas horas vas a estar recibiendo un email con tu voucher digital para que puedas disfrutar de tus beneficios una vez que abramos.</p>
    <p class="thank__textDetails thank__marginBottom" >Recordá guardar ese email y mostrarlo en caja cada vez que vayas a un Green Eat.</p>
    <p class="thank__textDate thank__marginBottom">*La suscripción comenzará a tener validez a partir del 2/05 o desde el primer día que reabramos nuestras puertas y durará 2 meses de corrido.</p>
    <p class="thank__textThank thank__marginBottom">Gracias nuevamente de <img class="thank__IconLove" src="assets/loveWhite.svg"> por acompañarnos</p>
    <p class="thank__textTeam">Todo el equipo de <img class="thank__iconLogo" src="assets/logo.svg"> </p>
</main>